altgraph==0.17.4
certifi==2025.4.26
charset-normalizer==3.4.2
et-xmlfile==2.0.0
idna==3.10
loguru==0.7.3
numpy==2.2.6
openpyxl==3.1.5
packaging==25.0
pandas==2.2.3
pyinstaller==6.13.0
PyQt6==6.9.0
pyqt6-sip==13.10.2
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.3
setuptools==80.9.0
six==1.17.0
tzdata==2025.2
urllib3==2.4.0